body {
    height: 100vh;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-wrapper {
    height: 40%;
    box-shadow: inset 0 0 5em 1em #000;
    background-image: url('map.webp');
    background-size: cover;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    color: #D9C9A1;
    text-shadow: 3px 3px 1px black;
}

.hero-wrapper h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.banner-items{
    margin-top: 15%;
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    padding: 1.3rem;
    background: #D9C9A1;
}