body {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-wrapper {
    background-image: url('../assets/snow.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0 40px 0;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#main-logo {
    width: 200px;
}

.img-wrapper {
    background-color: rgba(0, 0, 0, 0.425);
}

.underline {
   text-decoration: underline;
   text-shadow: 1px 1px black;
}

.footer {
    color: black;
}