body {
    text-align: center;
    color: black;
}

.hero-wrapper {
    background-image: url('../assets/snow.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#main-logo {
    width: 200px;
}

.img-wrapper {
    background-color: rgba(0, 0, 0, 0.425);
}

.underline {
   text-decoration: underline;
}