html {
    background: #384142;
}

body {
    margin: 20px;
}

.main-logo {
    width: 150px;
}

.card-wrapper {
    border: 1px dotted blue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.utility-border {
    border: 1px dotted blue;
}