body {
    text-align: center;
    background: #2F2C32;
    color: #BDC1D3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-light {
    width: 200px;
    border-radius:50%;
    border: 1px solid #BDC1D3;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}