.main {
    margin-top: 100px;
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.button-search {
    border: 1px solid #cfd9de;
    color: #0f1419;
    font-weight: bold;
}